header {
	background: $color-main;
	color: $color-accent;
	padding: $spacing 0;

	> div {
		@include clearfix();

		> img {
			display: inline-block;
			float: left;
		}

		> div {
			display: inline-block;
			float: right;
		}
	}
}