/* Params
========================================================================== */

$color-bg-header: $color-main;
$color-text-header: $color-base;
$color-text-header-hover: #ffffff;

/* Content css
========================================================================== */

header {
	width: 100%;
	background: $color-bg-header;
	color: $color-accent;
	position: fixed;
	z-index: 2;

	> div {
		@include clearfix();

		> figure {
			display: inline-block;
			float: left;
			margin-bottom: 0;

			@media #{$small} { 
				float: none;
			}
		}

		> div {
			display: inline-block;
			float: right;

			@media #{$small} {
				display: block;
				float: none;
			}
		}
	}
}

.logo {
	width: 148px;
}

header a {
	&:link,&:visited { color: $color-text-header; }
	&:hover { color: $color-text-header-hover; }
}